@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.home{
    background-color: #55aef1;
}

.main_container{
    position: relative;
}


.icon-remove-btn{
    color: white;
    position: relative;
    width: 100%;
    background: black;
    margin-bottom: 10px;
}

.f-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.open{
    position: fixed;
    left: 3px;
    cursor: pointer;
    z-index: 3;
}

.left{
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 280px;
    background-color: #0d8cee;
    left: 0;
}

.right{
   padding: 0 0 30px 0;
}

.img_container{
    width: 100%;
    height: 450px;
    margin-bottom: 50px;
}

.img_primary{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

hr{
    width: 70%;
    height: 3px;
    background-color: white;
    border: none;
}

.text_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}

p{
    line-height: 20px;
}

.p_top{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
    color: white;
    align-self: start;
}

.t_container{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.secimage_container{
    flex: 1;
    height: 250px;
}

.second_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

button{
    background-color: white;
    color: #6bb7f2;
    border: none;
    padding:5px 20px;
    margin-top: 20px;
    cursor: pointer;
}

.sub{
    font-size: 15px;
}

h1{
    font-weight: 500;
}

.c-top{
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   flex: 1;
}

.c-list{
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.c-active{
    background: white;
}

#lead{
    color: #0d8cee;
}

.c-list-li{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  border-bottom: 0.2px solid rgba(203, 199, 199, 0.663);
}

.c-link{
    text-decoration: none;
    color: white;
}

i{
    color: white;
}

.c-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.c-center{
   flex: 1;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.icons_div{
    background-color: rgba(0, 0, 0, 0.237);
    width: 35px;
    height: 35px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.icons_div:hover{
    transform: scale(1.2);
    transition: all 0.5s ease;
}

.f_img_container{
    width: 220px;
}

.l_text_container{
    color: white;
    text-align: center;
}

/* contact page */
.something{
    height: 400px;
}

.slide-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* contact page */

/* features page */
.features-h5{
 color: white;
 font-size: 20px;
}

.features-list{
    color: white;
    font-weight: 500;
}

.features-p{
    color: white;
    font-weight: 350;
}

.hr{
    width: 70%;
    height: 3px;
    background-color: white;
    border: none;
}

.main-link{
    float: left;
}

/* features page */

.card-container{
    display: flex;
    gap: 10px;
}

.card-image-container1{
    width: 100%;
    height: 200px;
}

.card-image-main{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
